
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);

:root {
	--app-bg: url(https://github.com/Strickkids/some-backgrounds/blob/main/pic.jpg?raw=true);
	--app-blur: 0px;
	--app-margin: 0px;
	--app-radius: 0px; /*	-	*/
	
	--accent-hue: 150;
	--accent-saturation: 100%;
	--accent-lightness: 100%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.1);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}


:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/*
	!!READ THIS!!
	
	This theme lets you swap the default emojis of discord with the emojis of a provider of your choice.
	To change the provider simply swap the marked word in the import url down below with a supported provider listed below.
	The name of the provider is CASE SENSITIVE, meaning you have to write it exactly like it's written below.
	Correct: Apple
	False: apple, APPLE, aPpLe
	
	Supported Providers:
		→ Apple
		→ Facebook
		→ Google
		→ JoyPixels
		→ Microsoft
		→ OpenMoji
		→ Samsung
		→ WhatsApp
*/